Repository shonjoydev/javascript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: Add CI pipeline with code quality checks, unit tests, and deployment to GitHub Pages
  .github/workflows/ci.yml
Due: prettier --write

feat: Docker setup
  .dockerignore
  Dockerfile
  compose.yml
  package.json
Due: prettier --write

feat: Add README.md file
  README.md
  package.json
Due: prettier --write

test: Sample code for testing setup
  src/arrays/index.js
  src/arrays/two-sum.js
  src/strings/index.js
  src/strings/isPalindrome.js
  tests/arrays/two-sum.test.js
  tests/strings/isPalindrome.test.js
Due: eslint --fix, prettier --write, vitest related --run

fix: Husky pre push
  .husky/pre-push
Due: none

chore: Exclude docs directory from ESLint checks
  eslint.config.js
Due: eslint --fix, prettier --write, vitest related --run

fix: Update installation command in README.md
  README.md
Due: prettier --write
